*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, "Amazon Ember", sans-serif;
  background: #EAEDED;
  color: #0F1111;
}

button {
  font-family: inherit;
}

select {
  font-family: inherit;
}

a {
  color: #007185;
  text-decoration: none;
}

a:hover {
  color: #C45500;
  text-decoration: underline;
}

::-webkit-scrollbar {
  width: 8px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #aaa;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #888;
}
